.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Background {
    margin-top:70px;
    min-height: 280px;
    width: 450px;
    background-color: #161616;
    border-radius: 16px;
    position: relative;
}

.BookmarkLogo{
    height: 80px;
    margin-top:50px;
    margin-left: 55px;
}

.TagLine {
    color: #fff;
    font-size: 1.7em;
    width:250px;
    position: absolute;
    right: 50px;
    top: 50px;
}

.ContinueBtn{
    position: absolute;
    right: 50px;
    bottom: 50px;


    background-color: #AA73E1;
    color: #fff;
    border-radius:8px;
    height: 60px;
    width: 180px;

    font-size: 1.5em;
}

/* Server Screen */
.TopBar{
    display: flex;
    padding: 15px 0px 40px 40px;
    justify-content: space-between
}
.title{
    color: #AA73E1;
    font-size: 1em;
}

.SearchBarContainer{
    margin-top: 15px;
    margin-left: 70px;
}

.SearchBar{
    margin-top: -4px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90px;
    height: 35px;
    background-color: #FFFFFF14;
    color: rgba(255, 255, 255, 0.459);
    border: none;
    border-radius: 12px;
    outline: none;
}

.MenuButtonContainer{
    margin-top: 15px;
    margin-right: 30px;
}